#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

ifeq (,$(findstring nodebug,$(DEB_BUILD_OPTIONS)))
    CONFIGURE_ARGS += -DBUILD_TESTING=ON
else
    CONFIGURE_ARGS += -DBUILD_TESTING=OFF
endif

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_ARGS)

execute_before_dh_auto_test:
	$(MAKE) -C obj-* test-stopmotion

execute_after_dh_installmime:
	mkdir -p debian/stopmotion/usr/lib/mime/packages
	cp stopmotion.mime debian/stopmotion/usr/lib/mime/packages/stopmotion
